---
layout: default
title: home
ref: home
lang: en
---

<div class="home home--all">
<div class="page-heading">
</div>
  <div class="row projects">
    {% for post in site.posts %}
    {% if post.lang == "en" %}
        <div class="col-sm-4">
            <a href="{{ post.url }}">
                <div class="{{ post.title | replace:' ','' | append: 'parent'}} col-inner" style="
                            background-image: url({{ "/images/" | append:post.title | downcase | replace:' ','' | append:'1low.jpg' | prepend: site.baseurl }});">
                    <div class="hovers {{ post.categories }} {{ post.title | replace:' ',''}}">
                    </div>
                </div>
            </a>
        </div>
    {% endif %}
    {% endfor %}
        <div class="col-sm-4">
            <a href="/about">
                <div class="aboutparent col-inner" style="
                            background-image: url(/images/portrait4.jpeg);">
                    <div class="hovers artdesign about">
                    </div>
                </div>
            </a>
        </div>
    <style type="text/css">

    {% for post in site.posts %}
    {% if post.lang == "en" %}
        {% assign title = post.title | replace:' ','' %}
        .{{ title }}:before {
            content: "{{ post.title }}";
            text-decoration: none !important;
            border-bottom: none;
        }
        .{{ title }}:after {
            content: "{{ post.info }}";
            text-decoration: none !important;
        }
    {% endif %}
    {% endfor %}

    </style>

  </div>
</div>
