---
layout: default
---

<div class="home">
<h1 class="page-heading">Work<span style="float:right;">
    <a href="/art+design" class="label label-success artdesign">Design</a>
    <a href="/dev" class="label label-info dev">Development</a>
    <a href="/games" class="label label-warning games">Games</a>
</span></h1>
  <div class="row">
    {% for post in site.posts %}
            <div class="col-sm-4"><a href="{{ post.url }}">
    <div class="{{ post.title | replace:' ','' | append: 'parent'}} col-inner" style="
background-image: url({{ "/images/" | append:post.title | replace:' ','' | append:'1low.jpg' | prepend: site.baseurl }});">
    <div class="hovers {{ post.categories }} {{ post.title | replace:' ',''}}">
    </div></div>
    </a></div>

    {% endfor %}

            <style type="text/css">

            {% for post in site.posts %}
                .{{ post.title | replace:' ',''}}:hover:before {
                  content: "{{ post.title }}";
                  text-decoration: none !important;
                  border-bottom: none;
                }
            {% endfor %}
      .BlackandWhiteparent {
        background-size: 200% !important;
        background-position: 0% 50% !important;
      }
    </style>

  </div>
</div>
