<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
            {% if site.email %}
            <a href="mailto:{{ site.email }}">email</a> –
            {% endif %}
            {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}">github</a> –
            {% endif %}
            {% if site.linkedin_username %}
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
              <!-- <span class="icon  icon--twitter">
                <svg viewBox="0 0 144 144">
                  <path fill="#828282" d="M133.3,0H10.6C4.8,0,0,4.6,0,10.4v123.2c0,5.7,4.8,10.4,10.6,10.4h122.7c5.9,0,10.7-4.7,10.7-10.4V10.4
            C144,4.6,139.2,0,133.3,0z M42.7,122.7H21.3V54h21.4V122.7z M32,44.6c-6.8,0-12.4-5.6-12.4-12.4c0-6.8,5.5-12.4,12.4-12.4
            c6.8,0,12.4,5.5,12.4,12.4C44.4,39,38.9,44.6,32,44.6z M122.7,122.7h-21.3V89.3c0-8-0.1-18.2-11.1-18.2
            c-11.1,0-12.8,8.7-12.8,17.6v34H56.1V54h20.5v9.4h0.3c2.8-5.4,9.8-11.1,20.2-11.1c21.6,0,25.6,14.2,25.6,32.7V122.7z"/>
                </svg>
              </span> -->

              <span class="username">linkedin</span>
            </a>
            {% endif %}
      </div>

    </div>

  </div>

</footer>
<script src="{{ "/bootstrap/js/jquery-1.11.1.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/javascripts/main.js" | prepend: site.baseurl }}" ></script>
<!-- <script src="{{ "/javascripts/lightbox/js/lightbox.min.js" | prepend: site.baseurl }}"></script> -->
