<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <span class="footer-lang">language: (<a href="/">en</a>/<a href="/fr">fr</a>)</span>
      <div class="footer-col">
            {% if site.email %}
            <a target="_blank" id="bla1" href="mailto:{{ site.email }}">email</a> –
            {% endif %}
            {% if site.github_username %}
            <a target="_blank" id="bla2" href="https://github.com/{{ site.github_username }}">github</a> –
            {% endif %}
            {% if site.devpost_username %}
            <a target="_blank" id="bla3" href="https://devpost.com/{{ site.devpost_username }}">devpost</a> –
            {% endif %}
            {% if site.linkedin_username %}
            <a target="_blank" id="bla4" href="https://linkedin.com/in/{{ site.linkedin_username }}">
              <span class="username">linkedin</span>
            </a>
            {% endif %}
            <div id="footer-menu-line"></div>
      </div>

    </div>

  </div>

</footer>

    <script src="{{ "/bootstrap/js/jquery-1.11.1.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/javascripts/main.js" | prepend: site.baseurl }}"></script>
