<header class="site-header">
{% if page.lang == "en" %}
{% assign dir == | default: ''%}
{% else %}
{% assign dir == | default: 'fr/'%}
{% endif %}
  <div class="wrapper">

    <span class="site-title">
        <a class="page-link" href="{{ '/' | append: dir | prepend: site.baseurl }}">{{ site.title }}</a>
    </span>

    <nav class="site-nav">

      <div class="trigger">
          <a
              class="page-link work {% if page.ref != 'about' %}active{% endif %}"
              href="{{ '/' | append: dir | prepend: site.baseurl }}">
              {% if page.lang == "en" %}work{% else %}projets{% endif %}
          </a>
          <a
              class="page-link about {% if page.ref == 'about' %}active{% endif %}"
              href="{{ '/' | append: dir | append: 'about' | prepend: site.baseurl }}">
              {% if page.lang == "en" %}about{% else %}à propos{% endif %}
          </a>
          <a class="page-link resume" target="_blank" href="https://www.dropbox.com/s/9dxp347qgabsjnb/MaxLeverResume.pdf?raw=1">
              {% if page.lang == "en" %}résumé{% else %}CV{% endif %}
          </a>
          <div id="menu-line"></div>
      </div>
    </nav>

  </div>

</header>
