
<div class="home">
  <h1 class="page-heading">
    {{ include.titl }}
    <span style="float:right;">
    <a href="/" class="label label-default all">All</a>
      {% if include.cat == 'web' %} <a href="/art+design" class="label label-success artdesign">Art+Design</a> <a href="/games" class="label label-warning games">Games</a>{% endif %}
      {% if include.cat == 'artdesign' %} <a href="/web" class="label label-info web">Web</a> <a href="/games" class="label label-warning games">Games</a>{% endif %}
      {% if include.cat == 'games' %} <a href="/art+design" class="label label-success artdesign">Art+Design</a> <a href="/web" class="label label-info web">Web</a> {% endif %}
    </span>
  </h1>
  <div class="row">
    {% for post in site.posts %}
    {% if post.categories contains include.cat %}
<style type="text/css">
                  .{{ post.title | replace:' ',''}}:hover:before {

                    content: "{{ post.title }}";
              }
            </style>
    <div class="col-sm-4"><a href="{{ post.url }}">
    <div class="{{ post.title | replace:' ','' | append: 'parent'}} col-inner" style="
background: url({{ "/images/" | append:post.title | replace:' ','' | append:'1low.jpg' | prepend: site.baseurl }});
              background-size:cover; background-position: center;
              height: 200px; padding:0; margin: 2.5px -12.5px;">
    <div class="hovers {{ post.categories }} {{ post.title | replace:' ',''}}">
    </div></div>
  </a></div>
{% endif %}
    {% endfor %}

            <style type="text/css">
      .BlackandWhiteparent {
        background-size: 200% !important;
        background-position: 0% 50% !important;
      }
    </style>
  </div>
</div>
