
.label {
    font-weight: 400;
    border-radius: 0;
}

.labels {
    position: relative;
    filter: invert(100%);
}
$v: 0px; // vertical padding
$h: 0px; // horizontal padding

.label-bg {
    float: right;
    z-index: 9;
    background-color: #b3b39f;
    display: block;
    content: '';
    height: calc(100%);// + #{$v});
    top: 0px;//calc(#{$v} * -.5);
    position: absolute;
    transition: left 0.4s ease-in-out, width 0.4s ease-in-out;
}

$lmargin: 2px; // all
$a-w: 36px + $h; //49px;
$a-l: $lmargin - $h / 2; //-4px;
// artdesign
$ad-w: 58px + $h; //70px;
$ad-l: $a-l + $a-w + $lmargin - $h; //35px;
// dev
$d-w: 89px + $h; //109px;
$d-l: $ad-l + $ad-w + $lmargin - $h; //96px;

.home--all {
    a.label.all ~ .label-bg {
        width: $a-w;
        left: $a-l;
    }
}

.home--dev {
    a.label.dev ~ .label-bg {
        width: $d-w;
        left: $d-l;
    }
}

.home--artdesign {
    a.label.artdesign ~ .label-bg {
    width: $ad-w;
    left: $ad-l;
    }
}

a.label.all:hover ~ .label-bg {
    width: $a-w;
    left: $a-l;
}

a.label.dev:hover ~ .label-bg {
    width: $d-w;
    left: $d-l;
}

a.label.artdesign:hover ~ .label-bg {
    width: $ad-w;
    left: $ad-l;
}

a.label,
a.label.all,
a.label.artdesign,
a.label.dev {
    z-index: 10;
    float: right;
    position: relative;
    color: #989274; //#ccc9b9;
    background: rgba(111, 83, 83, 0);
    mix-blend-mode: difference;
    border: 1px solid rgba(111, 83, 83, 0); //#ccc9b9;//#8f8f94;

    &.active,
    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
        background: rgba(255,255,255,0);
        // border-color: #ccc9b9;//#8f8f94;
    }
    margin-left: 2px;

    .post & {
        background: rgba(59,58,78,1);
        color: rgba(222, 215, 202, 1);

        &:focus,
        &:hover {
            // filter: invert(100%);
            background: rgba(159, 184, 153, 1);
            color: rgba(11, 28, 35, 1);
        }
    }
}

a.label-default:hover {
    background-color: none;
    background: none;
    background-image: none;
    background-image: none;
}
