---
layout: default
title: homefr
permalink: /
lang: fr
---

<div class="home home--all">
<div class="page-heading">
</div>
  <div class="row projects">
    {% for post in site.posts %}
    <div class="col-sm-4">
        <a href="{{ post.url }}">
            <div class="{{ post.title | replace:' ','' | append: 'parent'}} col-inner" style="
                        background-image: url({{ "/images/" | append:post.title | downcase | replace:' ','' | append:'1low.jpg' | prepend: site.baseurl }});">
                <div class="hovers {{ post.categories }} {{ post.title | replace:' ',''}}">
                </div>
            </div>
        </a>
    </div>
    {% endfor %}

    <style type="text/css">

    {% for post in site.posts %}
        {% assign title = post.title | replace:' ','' %}
        .{{ title }}:before {
            content: "{{ post.title }}";
            text-decoration: none !important;
            border-bottom: none;
        }
        .{{ title }}:after {
            content: "{{ post.info }}";
            text-decoration: none !important;
        }
    {% endfor %}
    </style>

  </div>
</div>
